{% extends "cms_bs3_theme/base.html" %}
{% load static i18n cms_tags %}

{% block header %}
    <div id="header">
        <div class="container">
            <div id="headline">
                <div id="name-slogan">
                    <h1 id="name">Nekmo.com</h1>
                    <p>
                        <nobr>
                            <span class="function">print(</span><!--
                            --><span class="string">"{} {} y más."</span><!--
                            --><span class="function">.format(</span>slogan, <!--
                            --><span class="string">', '</span><!--
                            --><span class="function">.join(</span><!--
                            -->content<span class="function">)))</span>
                        </nobr>
                    </p>
                    <p class="result">Una web personal sobre programación,
                        software libre, videojuegos, series y más.</p>
                </div>
                <div id="logo"></div>
            </div>
            <div id="search" class="pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{% trans 'Comenzar a buscar...' %}"
                           aria-describedby="basic-addon1">
                    <span class="input-group-addon" id="basic-addon1">
                        <span class="mdi mdi-magnify"></span>
                    </span>
                </div>
            </div>
            <div id="social">
                {% block social %}
                    {% static_placeholder "social" %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% include bs3_conf.BOOTSTRAP3_MENU_TEMPLATE %}
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="container">
            <div class="col-md-12">
                <h3>Nekmo Software 2016 <small>Todos los derechos reservados.</small></h3>
                Los errores y sugerencias de los proyectos de esta web deben ser notificados en su respectiva página
                de reportes. Las dudas no se responderán por email. Para informar de vulnerabilidades de seguridad,
                escriba a <a href="mailto:security@nekmo.com">security@nekmo.com</a>.
            </div>
            <div class="col-md-12">
                <p>Desarrollado con <span class="mdi mdi-heart"></span> usando Django-cms en Málaga, España.</p>
                <p class="tech">
                    <a href="https://www.djangoproject.com/"><i class="devicon-django-plain"></i></a>
                    <a href="https://www.python.org/"><i class="devicon-python-plain"></i></a>
                    <a href="http://gulpjs.com/"><i class="devicon-gulp-plain"></i></a>
                    <a href="http://sass-lang.com/"><i class="devicon-sass-original"></i></a>
                    <a href="http://getbootstrap.com/"><i class="devicon-bootstrap-plain"></i></a>
                    <a href="https://www.jetbrains.com/pycharm/"><i class="devicon-jetbrains-plain"></i></a>
                    <a href="https://github.com/Nekmo/"><i class="devicon-github-plain"></i></a>
                    <a href="http://www.postgresql.org/"><i class="devicon-postgresql-plain"></i></a>
                    <a href="http://nginx.org/"><i class="devicon-nginx-original"></i></a>
                    <a href="https://www.archlinux.org/"><i class="devicon-linux-plain"></i></a>

                </p>
            </div>
        </div>
    </div>
{% endblock %}
