{% extends "cms_bs3_theme/base.html" %}
{% load static i18n cms_tags menu_tags page_meta_tags meta %}
{% get_language_info for LANGUAGE_CODE as lang %}

{% block html_tag %} {% googleplus_html_scope meta.gplus_type %}{% endblock %}

{% block meta_tags %}
    {% page_meta request.current_page as meta %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% include 'djangocms_page_meta/meta.html' with meta=meta %}

{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="container">
            <div class="col-md-12">
                <div><h3>Nekmo Software 2016 <small>Todos los derechos reservados.</small></h3>
                El software que que se presenta en esta web no tiene garantía. Para informar de vulnerabilidades de
                    seguridad, escriba a <a href="mailto:security@nekmo.com">security@nekmo.com</a>.</div>
                <div>{% trans "Language" %}: {% language_chooser "nekmocom/includes/menu/langnav.html" "native" %}</div>
            </div>
            <div class="col-md-12">
                <p class="creator">Desarrollado con <span class="mdi mdi-heart"></span>
                    usando <a href="https://www.django-cms.org/en/">Django-CMS</a> en Málaga, España.</p>
                <p class="tech">
                    <a href="https://www.djangoproject.com/"><i class="devicon-django-plain"></i></a>
                    <a href="https://www.python.org/"><i class="devicon-python-plain"></i></a>
                    <a href="http://gulpjs.com/"><i class="devicon-gulp-plain"></i></a>
                    <a href="http://sass-lang.com/"><i class="devicon-sass-original"></i></a>
                    <a href="http://getbootstrap.com/"><i class="devicon-bootstrap-plain"></i></a>
                    <a href="https://www.jetbrains.com/pycharm/"><i class="devicon-jetbrains-plain"></i></a>
                    <a href="https://github.com/Nekmo/"><i class="devicon-github-plain"></i></a>
                    <a href="http://www.postgresql.org/"><i class="devicon-postgresql-plain"></i></a>
                    <a href="http://nginx.org/"><i class="devicon-nginx-original"></i></a>
                    <a href="https://www.archlinux.org/"><i class="devicon-linux-plain"></i></a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
