aldryn-apphooks-config==0.2.7
aldryn-boilerplates==0.7.4
aldryn-bootstrap3==1.0.10
aldryn-categories==1.0.2
aldryn-common==1.0.1
aldryn-people==1.2.0
aldryn-reversion==1.0.8
aldryn-search==0.2.11
aldryn-translation-tools==0.2.1
Babel==2.3.4
backport-collections==0.1
-e git+https://github.com/divio/cmsplugin-filer.git@230da930486b0bf8e8d0529dc241031d6224655a#egg=cmsplugin_filer
Django==1.9.6
django-appconf==1.0.2
django-appdata==0.1.5
django-bootstrap3==7.0.1
-e git+https://github.com/nephila/django-ckeditor-filebrowser-filer.git@582f68acb99e68d00f4fce9db3a264ff0fe050b5#egg=django_ckeditor_filebrowser_filer
django-classy-tags==0.7.2
django-cms==3.2.5
django-crispy-forms==1.6.0
django-durationfield==0.5.2
-e git+https://github.com/nekmocom/djangocms-snippet.git@dc754d59050d24503fdbf31e6fcd5ed099675a1f#egg=djangocms_snippet-master
-e git+https://github.com/divio/django-filer.git@d6cbca4abcb88ff8af13f6af158e2855fda5f59a#egg=django_filer
django-formtools==1.0
django-haystack==2.4.1
django-jsonfield==0.9.19
django-meta==1.2
django-meta-mixin==0.3.0
django-mptt==0.8.4
django-phonenumber-field==1.1.0
django-polymorphic==0.8.1
django-reversion==1.10.2
django-sekizai==0.9.0
Django-Select2==5.8.4
django-sortedm2m==1.2.2
django-spurl==0.6.4
django-standard-form==1.1.1
django-taggit==0.18.1
django-taggit-autosuggest==0.2.8
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-tools==0.30.0
django-treebeard==4.0.1
djangocms-admin-style==1.1.1
djangocms-apphook-setup==0.1.2
djangocms-blog==0.7.0
djangocms-column==1.6.0
djangocms-file==1.0
djangocms-googlemap==0.4.0
djangocms-inherit==0.1.1
djangocms-link==1.7.2
djangocms-picture==1.0.0
djangocms-style==1.7.0
djangocms-teaser==0.2.0
djangocms-text-ckeditor==2.9.3
djangocms-video==1.0.0
easy-thumbnails==2.3
ecdsa==0.13
Fabric3==1.11.1.post1
html5lib==0.9999999
lxml==3.6.0
paramiko==2.0.9
phonenumbers==7.3.2
phonenumberslite==7.3.2
Pillow==3.2.0
pycrypto==2.6.1
pykismet3==0.1.1
python-akismet==0.4.1
python-dateutil==2.5.3
python-slugify==1.2.0
pytz==2016.4
PyYAML==3.11
requests==2.10.0
six==1.10.0
ua-parser==0.7.1
Unidecode==0.4.19
URLObject==2.4.0
user-agents==1.0.1
YURL==0.13
psycopg2
djangocms-page-meta==0.5.11
django-htmlmin==0.9.1
python-memcached==1.57
