-r requirements-freeze.txt
-e git+https://github.com/Nekmo/djangocms-bs3-theme.git@master#egg=djangocms-bs3-theme
-e git+https://github.com/Nekmo/djangocms-comments.git@master#egg=djangocms-comments
-e git+https://github.com/Nekmo/aldryn-newsblog@master#egg=aldryn-newsblog