
body, html {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;

}

/* Sections */
.section-gray {
    background: #e8e8e8;
}

@for $i from 1 to 20 {
    $buffer: $i * 5;
    .top-buffer-#{$buffer} {
        margin-top: #{$buffer}px;
    }

    .bottom-buffer-#{$buffer}{
        margin-bottom: #{$buffer}px;
    }
}

/* Extra modifications */

.font-size-150 {
    font-size: 150%;
}
.font-size-200 {
    font-size: 200%;
}
.font-size-300 {
    font-size: 300%;
}
.font-size-400 {
    font-size: 400%;
}

.code-block {
    border: 0;
    position: relative;
    color: #b3e115;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    line-height: 1.2;
    background: #35363C none repeat scroll 0 0;
    padding: 14px;

    code, pre {
        font-size: 12px;
        color: #b3e115;
        background: transparent;
        border: 0;
    }
}

/* Margen superior  cuando es fluid */
html {
    &.fluid-fixed-top-default, &.fluid-fixed-top, &.fluid-fixed-top-inverse {
        body {
            margin-top: 70px;

        }
        &.cms-toolbar-expanded [role=navigation] {
            margin-top: 45px;
        }
    }
}

.mdi {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}