@import "resources";
@import "fonts";
@import "variables";

$brand-primary: #00B3FE;
$grid-columns: 24;
$header-background-color: $blue-grey-900;


$navbar-inverse-color:                      lighten($gray-light, 15%) !default;
$navbar-inverse-bg:                         #f28858;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 lighten($gray-light, 15%) !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;


/* Propio */
// custom debe encontrarse antes que boostrap para poder establecer variables
// Bootstrap debe estar después de custom pero antes que las partes para que puedan usar componentes
@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap";
@import "_nekmonet/header";
@import "footer";
@import "_nekmonet/home";

@import "newsblog";

