@import "resources";
@import "fonts";
@import "variables";

$brand-primary: #00B3FE;
$grid-columns: 24;
$header-background-color: $blue-grey-900;


/* Propio */
// custom debe encontrarse antes que boostrap para poder establecer variables
// Bootstrap debe estar después de custom pero antes que las partes para que puedan usar componentes
@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap";
@import "_nekmocom/header";
@import "footer";
@import "common";
@import "_nekmocom/home";

@import "newsblog";