/* Common */
#header {
    background-color: $header-background-color;

    > .container {
        position: relative;
    }

    #headline {
        position: absolute;

        #logo {
            background: url("../img/logo.svg");
            display: inline-block;
        }

        #name-slogan {
            display: inline-block;
            vertical-align: top;
            max-width: 480px;

            h1 {
                color: white;
                margin-top: 10px;
                font-weight: 400;
            }
        }
    }

    #search {
        width: 350px;
        margin-top: 30px;
    }

    #social {
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline;

        .mdi {
            color: white;
            font-size: 40px;
            visibility: hidden;
            width: 40px;
            margin-left: 10px;
        }

        .mdi::before {
            visibility: visible;
        }
    }
}

/* No home (min ver.) */
body:not(.tpl-home) #header {
    min-height: 150px;
    position: relative;

    > .container {
        height: 150px;
    }

    #headline {
        bottom: 30px;


        #logo {
            background-size: 80px;
            width: 80px;
            height: 80px;
            margin-left: 20px;
        }

        #name-slogan {
            h1 {
                font-size: 60px;
            }

        }
    }
}

/* Home version */
.tpl-home {
    #header {
        min-height: 300px;


        > .container {
            position: relative;
            height: 300px;
        }

        #name-slogan {

            p {
                color: #c5c5c5;
                font-family: $font-family-monospace;
                font-weight: 600;

                .function {
                    color: #4e898b;
                }

                .string {
                    color: #bcfffd;
                }
            }

            .result {
                font-family: Monospace, monospace;
                color: lavenderblush;
                font-weight: 400;
            }
        }

        #headline {
            bottom: 30px;

            #logo {
                background-size: 160px;
                width: 160px;
                height: 160px;
            }

            #name-slogan {
                h1 {
                    font-size: 70px;
                }
            }
        }
    }
}

body:not(.tpl-home) {
    [role=navigation] {
        margin-bottom: 20px;
    }
}

/* Mobile */
@media only screen and (max-device-width: 480px) {
    body:not(.tpl-home) #header #headline {
        #name-slogan h1 {
            font-size: 45px;
        }

        #logo {
            background-size: 70px;
            width: 70px;
            height: 70px;
            margin-left: 5px;
        }
    }
}